shamefully-hoist=true
strict-peer-dependencies=false
@geeckocom:registry=https://gitlab.com/api/v4/projects/42758637/packages/npm/
//gitlab.com/api/v4/projects/42758637/packages/npm/:_authToken=glpat-BkreNker2FR3zpuJpUc9
